<template>
  <v-layout row>
    <v-flex>
      <v-card>
        <v-container fluid grid-list-md>
          <div class="text-xs-center">
            <v-pagination
              v-model="page"
              :length="posts.lastPage"
              :total-visible="7"
              @input="onChangePage"
            ></v-pagination>
          </div>
          <v-layout row wrap>
            <v-flex v-for="(i, n) in posts.data" :key="n" xs12 sm6 md4>
              <v-card>
                <v-img :src="i.image" aspect-ratio="1.5"></v-img>

                <v-container fill-height fluid pa-2>
                  <v-layout fill-height>
                    <v-flex xs12 align-end flexbox>
                      <v-card-title primary-title>
                        <div>
                          <h3 class="headline mb-0">{{ i.title }}</h3>
                          <div>
                            {{ i.content }}
                          </div>
                        </div>
                      </v-card-title>
                    </v-flex>
                  </v-layout>
                </v-container>

                <v-card-actions>
                  <v-btn flat color="orange">Share</v-btn>
                  <v-btn flat color="orange">Explore</v-btn>
                </v-card-actions>
              </v-card>
            </v-flex>
          </v-layout>
          <div class="text-xs-center">
            <v-pagination
              v-model="page"
              :length="posts.lastPage"
              :total-visible="7"
              @input="onChangePage"
            ></v-pagination>
          </div>
        </v-container>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
export default {
  name: 'Home',
  layout: 'blank',

  data: () => ({
    page: 1,
    limit: 20
  }),

  computed: {
    ...mapGetters({
      posts: 'posts'
    })
  },

  async created() {
    await this.fetch()
  },

  methods: {
    ...mapActions({
      fetchData: 'fetchData'
    }),

    async fetch() {
      await this.fetchData({
        limit: this.limit,
        page: this.page
      })
      this.limit = this.posts.perPage
      this.page = this.posts.page
    },

    async onChangePage(page) {
      this.page = page
      await this.fetch()
    }
  }
}
</script>
