<template>
  <div class="v-text-field__details">
    <div class="v-messages theme--light error--text">
      <div class="v-messages__wrapper">
        <div class="v-messages__message">
          <slot />
        </div>
        <div class="v-counter"></div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'VError',

  props: {
    message: {
      type: String,
      default: ''
    }
  }
}
</script>

<style lang="stylus" scoped>
.v-text-field__details
  margin-top 8px
  padding 0 12px
</style>
