<template>
  <div class="mb-4">
    <field-tel-input
      v-model="phone.number"
      v-bind="bindProps"
      @country-changed="onCountryChanged"
      @input="onInput"
      @focus="$emit('focus')"
      @blur="$emit('blur')"
    />
    <v-error v-if="errorMessages.length">
      {{ errorMessages[0] }}
    </v-error>
  </div>
</template>

<script>
export default {
  name: 'VPhone',
  $_veeValidate: {
    name() {
      return this.label
    },
    value() {
      return this.value
    }
  },
  props: {
    dark: {
      type: Boolean,
      default: false
    },
    disabled: {
      type: Boolean,
      default: false
    },
    errorMessages: {
      type: Array,
      default: () => []
    },
    label: {
      type: String,
      default: null
    },
    value: {
      type: String,
      default: ''
    },
    name: {
      type: String,
      default: 'phone'
    }
  },
  data() {
    return {
      phone: {
        number: '',
        dialCode: ''
      },
      bindProps: {
        defaultCountry: 'JP',
        disabledFetchingCountry: false,
        disabled: this.disabled,
        disabledFormatting: true,
        placeholder: 'Phone number',
        required: false,
        enabledCountryCode: true,
        enabledFlags: true,
        preferredCountries: [],
        onlyCountries: [],
        ignoredCountries: [],
        autocomplete: 'off',
        name: this.name,
        maxLen: 10,
        wrapperClasses: this.dark ? 'theme--dark' : '',
        inputClasses: '',
        dropdownOptions: {
          disabledDialCode: false
        },
        inputOptions: {
          showDialCode: false
        },
        validCharactersOnly: true
      }
    }
  },
  watch: {
    value(value) {
      this.phone.number = value.replace(`+${this.phone.dialCode}`, '')
      this.$forceUpdate()
    }
  },
  methods: {
    onCountryChanged({ dialCode }) {
      this.phone.dialCode = dialCode
      this.phone.number = this.value.replace(`+${dialCode}`, '')
    },
    onInput(value, { number, isValid, formattedNumber }) {
      this.$emit('input', formattedNumber.replace(/ /g, ''))
    }
  }
}
</script>

<style lang="stylus">
.vue-tel-input.theme--dark
  .dropdown
    .selection
      .country-code,
      .dropdown-arrow
        color #ffffff
        ^[1]:hover ^[-1..2]
          color #666666
  ul
    background-color #424242
    z-index 2
  li.highlighted
    background-color #616161
</style>
