<template>
  <div>
    <v-toolbar flat color="white">
      <v-toolbar-title class="brown--text text--darken-4"
        >POST CRUD</v-toolbar-title
      >
      <v-divider class="mx-2" inset vertical></v-divider>
      <v-spacer></v-spacer>
      <v-dialog v-model="dialog" max-width="500px">
        <template v-slot:activator="{ on }">
          <v-btn
            v-show="selected.length === 0"
            v-on="on"
            dark
            color="primary"
            class="mb-2"
            >New Item</v-btn
          >
          <v-btn
            v-show="selected.length"
            @click="destroy"
            dark
            color="primary"
            class="mb-2"
            >Delete</v-btn
          >
        </template>
        <v-card>
          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>

          <v-card-text>
            <v-container grid-list-md>
              <v-layout wrap>
                <v-flex xs12>
                  <template v-if="isUpdateAction">
                    <v-form>
                      <v-text-field
                        v-model="editedItem.title"
                        v-validate="'required'"
                        :counter="200"
                        :error-messages="errors.collect('title')"
                        label="title"
                        data-vv-name="title"
                        required
                      ></v-text-field>
                      <v-textarea
                        v-model="editedItem.content"
                        v-validate="'required'"
                        :counter="500"
                        :error-messages="errors.collect('content')"
                        auto-grow
                        label="content"
                        data-vv-name="content"
                        required
                      ></v-textarea>
                    </v-form>
                  </template>
                  <v-text-field
                    v-else
                    v-model="numberOfPost"
                    label="Number of post create"
                  ></v-text-field>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn @click="close" color="blue darken-1" flat>Cancel</v-btn>
            <v-btn @click="save" color="blue darken-1" flat>
              {{ isUpdateAction ? 'Update' : 'Save' }}
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-toolbar>
    <v-data-table
      v-model="selected"
      :headers="headers"
      :items="list.data"
      :loading="loading"
      :pagination.sync="pagination"
      :total-items="pagination.totalItems"
      class="elevation-1"
      item-key="_id"
      select-all
    >
      <template v-slot:items="props">
        <td>
          <v-checkbox
            v-model="props.selected"
            primary
            hide-details
          ></v-checkbox>
        </td>
        <td>{{ props.item._id }}</td>
        <td>{{ props.item.title }}</td>
        <td>{{ props.item.content }}</td>
        <td>{{ props.item.createdAt | moment('DD-MM-YYYY HH:mm') }}</td>
        <!-- justify-center -->
        <td class="layout text-center">
          <v-icon @click="editItem(props.item)" small class="mr-2">edit</v-icon>
          <v-icon @click="deleteItem(props.item)" small>delete</v-icon>
        </td>
      </template>
      <template v-slot:no-data>
        <v-btn @click="fetchData" color="primary">Reset</v-btn>
      </template>
    </v-data-table>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import Chance from 'chance'
const chance = new Chance()
const UPDATE_ACTION = 'UPDATE_ACTION'
export default {
  name: 'Booking',
  $_veeValidate: {
    validator: 'new'
  },
  middleware: 'auth',
  data: () => ({
    search: null,
    numberOfPost: 0,
    pagination: {
      page: 1,
      rowsPerPage: 5
    },
    loading: false,
    selected: [],
    dialog: false,
    headers: [
      {
        text: '#ID',
        align: 'left',
        sortable: false,
        value: 'name'
      },
      { text: 'Title', value: 'title', sortable: false },
      { text: 'Content', value: 'content', sortable: false },
      { text: 'Created At', value: 'createdAt', sortable: false },
      { text: 'Actions', value: 'name', sortable: false }
    ],
    desserts: [],
    editedIndex: -1,
    editedItem: {
      _id: null,
      title: '',
      content: ''
    },
    action: null,
    dictionary: {
      attributes: {
        title: 'Title',
        content: 'Content'
      },
      custom: {
        title: {
          required: () => 'Title can not be empty',
          max: 'The name field may not be greater than 200 characters'
        },
        content: {
          required: () => 'Content can not be empty',
          max: 'The name field may not be greater than 500 characters'
        }
      }
    }
  }),

  computed: {
    formTitle() {
      return this.isUpdateAction ? 'Update Item' : 'New Item'
    },
    ...mapGetters({
      list: 'post/list'
    }),
    isUpdateAction() {
      return this.action === UPDATE_ACTION
    }
  },

  watch: {
    dialog(val) {
      val || this.close()
    },
    selected(val) {
      console.warn('val', val, val === this.selected)
    },
    async pagination() {
      await this.fetchData()
    }
  },

  async created() {
    await this.fetchData()
  },

  mounted() {
    this.$validator.localize('en', this.dictionary)
  },

  methods: {
    ...mapActions({
      fetchPost: 'post/fetchList',
      createPost: 'post/create',
      updatePost: 'post/update',
      deletePost: 'post/delete'
    }),

    setPagination() {
      this.pagination.page = this.list.page
      this.pagination.totalItems = this.list.total
    },

    async fetchData() {
      await this.fetchPost({
        page: this.pagination.page,
        limit: this.pagination.rowsPerPage
      })
      this.setPagination()
    },

    editItem(item) {
      this.editedIndex = this.desserts.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.action = UPDATE_ACTION
      this.dialog = true
    },

    async deleteItem(item) {
      if (confirm('Are you sure you want to delete this post?')) {
        try {
          await this.deletePost(item._id)
          await this.fetchData()
          this.$toast.success('Action successfully!')
        } catch (error) {
          this.$toast.error(error.message)
        }
      }
    },

    close() {
      this.action = null
      this.dialog = false
    },

    generatePost() {
      const title = chance.sentence({ words: 5 })
      const content = chance.paragraph({ sentences: 5 })
      return {
        title,
        content
      }
    },

    async update() {
      const validated = await this.$validator.validateAll()
      if (!validated) return

      try {
        await this.updatePost({
          id: this.editedItem._id,
          payload: {
            title: this.editedItem.title,
            content: this.editedItem.content
          }
        })
        this.$toast.success('Action successfully!')
      } catch (error) {
        const data = error.response ? error.response.data : []
        data.forEach(e => {
          this.$validator.errors.add({
            // id: field.id,
            field: e.field,
            msg: e.message,
            scope: this.$options.scope
          })
        })
      }
    },

    async create() {
      const promises = []
      for (let i = 0; i < this.numberOfPost; i++) {
        const data = this.generatePost()
        promises.push(this.createPost(data))
      }
      try {
        await Promise.all(promises)
        this.close()
        this.$toast.success('Action successfully!')
      } catch (error) {
        this.$toast.error(error.message)
      }
    },

    async save() {
      this.isUpdateAction ? await this.update() : await this.create()
      await this.fetchData()
    },

    async destroy() {
      if (confirm('Are you sure you want to delete this posts?')) {
        const promises = []
        _.forEach(this.selected, e => {
          promises.push(this.deletePost(e._id))
        })
        await Promise.all(promises)
        await this.fetchData()
        this.selected = []
      }
    }
  }
}
</script>
